.App {
  text-align: center;
}




.messenger__logo {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.app__form {
  
 
  /* padding: 20px; */
  position: fixed;
  bottom: 20px;
  z-index: 1; 
  background-color:gray;
  width: 98%;
  margin: 20px;
}

.app__formcontrol {
  display: flex !important;
  flex-direction:row  !important;
}

.app__iconButton {
  flex: 0;
  margin-right: 10px;
}

.app__input {
  flex: 1;
}